
html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
    color: #fff;
}

@media (min-width: 576px) {
    .container {
        max-width: 580px;
    }
}

h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 1.5rem;
    position: relative;
    margin-bottom: 1.5rem;
}

a {
    color: #fff;
    font-size: 1.5rem;
}

a:hover {
    background-color: #8C8C8C;
    color: #fff;
    text-decoration: none;
}

.link-wrapper {
    text-align: right;
    width: 100%;
    margin-bottom: 2rem;
}

.tilde {
    font-size: 2rem;
    line-height: 1.5rem;
}

.tilde::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 28px;
    display: inline-block;
    background-color: #fff;
    vertical-align: top;
    width: 12px;
    height: 1.5rem;
    -webkit-animation: blink 1s step-end infinite;
    animation: blink 1s step-end infinite;
}
  
@-webkit-keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}